<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>all_users</title>
    <link rel="stylesheet" href="/app/styles.css">
</head>
<body>
<div class="container">
    <h1>All users list:</h1>
    <table class="container" th:if="${users.size() > 0}">
        <thead class="thead">
        <tr>
            <td><b>Id</b></td>
            <td><b>Name</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="paging">
    <a th:if="${previousPage != null}" th:href="@{/all_users/{pageId} (pageId = ${previousPage})}"
       th:text="'<' + ${previousPage}"/>
    <span th:text="${currentPage}"/>
    <a th:if="${nextPage != null}" th:href="@{/all_users/{pageId} (pageId = ${nextPage})}"
       th:text="${nextPage} + '>'"/>
</div>
<br>
<h4 class="container">Back to main: <a href="/app">Main</a></h4>
</body>
</html>